.r {background-color: #ff4c2c;}
.g {background-color: #2cff4c;}
.b {background-color: #4c2cff;}
.y {background-color: #ffff4c;}
.m {background-color: #ff4cff;}
.c {background-color: #4cffff;}

.gms-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.85rem;
    height: 1.85rem;
    border-radius: 100%;
    border: 0;
    background: transparent;
}

.gms-btn.gms-circled {
    border: 2px solid;
}

.gms-btn.hidden {
    display: none;
}

.gms-btn:hover {
    background: #f4f4f4;
    border-color: #0878ff;
}

.gms-btn span {
    font-size: 1.65rem;
}

.gms-btn:hover span {
    color: #0878ff;
}

#menu-column {
    border-right: 1px solid #ececec;
    overflow-y: auto;
    overflow-x: hidden;
}

#menu-column h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
}

#menu-column .menu-section:nth-of-type(2) h2 {
    margin: 3.35rem 0 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
}

#menu-column.show .menu-section:nth-of-type(2) h2 {
    margin: 1rem 0 0;
}

#menu-column hr {
    margin: 0.25rem 0;
}

#menu-column menu {
    margin: 0;
    padding: 0;
}

#menu-column menu > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu-column menu > li > button {
    width: 100%;
    border: none;
    padding-left: 1.25rem;
    background: transparent;
    text-align: start;
}

#menu-column menu > li > button:hover {
    background: #ececec;
}

#menu-column.show {
    max-width: 14rem;
}

#menu-column.show > div {
    margin-right: -1px;
}

#menu-column > div {
    background-color: #fff;
}

#main-column h1 {
    margin: 0;
    font-size: 1.75rem;
    line-height: 1;
    text-transform: capitalize;
}

#main-column input {
    min-width: 0;
    border: 1px solid #c8c8c8;
    border-radius: 0;
}

#mailbox-row {
    min-height: 0;
}

#mailbox-row + .row #multiselect-button {
    display: none;
}

#mailbox-row.multiselect + .row #multiselect-button {
    display: block;
}

#mailbox-row::before {
    content: '';
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0 -100% 0 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), transparent 0.5rem, transparent calc(100% - 0.5rem), rgba(0, 0, 0, 0.1));
    pointer-events: none;
}

.mailbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    padding: 0.5rem;
    background: #ececec;
}

.mailbox.hidden {
    display: none;
}

.mailbox .draft,
.mailbox .message {
    display: flex;
    padding: 0;
    background: #fff;
}

.mailbox .draft label,
.mailbox .message label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    cursor: pointer;
}

.mailbox .draft input,
.mailbox .message input {
    cursor: pointer;
}

.mailbox .draft .message-info,
.mailbox .message .message-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    cursor: pointer;
}

.mailbox .draft p,
.mailbox .message p {
    max-width: 100%;
    margin: 0;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.mailbox .message.unread .sender {
    font-weight: 700;
}

#main-column > .row {
    background: #fff;
}

#multiselect-button {
    border: 0;
    background: transparent;
}

#multiselect-button:hover {
    background: #f4f4f4;
    color: #0878ff;
}

#view-column {
    border-left: 1px solid #ececec;
}

#view-column.show {
    width: min(85%, 40rem);
}

#preview {
    margin-left: -1px;
}

#preview .tools {
    display: flex;
    justify-content: end;
}

#preview p {
    margin: 0;
    line-height: 1;
}

#preview .subject {
    font-size: 1.25rem;
}

#preview .sender-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 0.5rem;
}

#preview .sender-info .account-icon {
    margin: 0 0.5rem 0 -2px;
}

#preview hr {
    margin: 0.5rem 0;
}

#preview .contents {
    line-height: 1.25;
}

#view-column.empty #preview * {
    display: none;
}

.dropdown-menu {
    padding: 0;
    border-radius: 0;
}

.dropdown-menu button {
    width: 100%;
    border: 0;
    background: transparent;
    text-align: left;
}

.dropdown-menu button:hover {
    background: #ececec;
}

#compose .modal-content {
    border-radius: 0;
}

#compose hr {
    margin: 0.25rem 0;
}

#compose input {
    border: 0;
}

#compose input:focus {
    outline: 0;
}

#compose textarea {
    border: 0;
    resize: none;
}

#compose textarea:focus {
    outline: 0;
}

#compose-send {
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
}

#compose-send:hover {
    color: #0878ff;;
}